.dropdown-item {
    position: relative;
    display: inline-block;
}

.dropdown-item > *:nth-child(2) {
    display: none;
    position: absolute;
}

.dropdown-item > *:nth-child(2) > * {
    display: block;
    white-space: nowrap;
}

.dropdown-item.drop-right > *:nth-child(2) {
    top: 0;
    left: 100%;
}

.dropdown-item.drop-left > *:nth-child(2) {
    top: 0;
    right: 100%;
}

/* hover */
.dropdown-item.drop-on-hover:hover > *:nth-child(2) {
    display: block;
}

/* click */
.dropdown-item.drop-on-click.dropdown-show > *:nth-child(2) {
    display: block;
}